<#@ template language="C#" hostSpecific="true" debug="false" #>
<#@ output extension=".cs" #>
<#
        DefaultHost host = (DefaultHost)(Host);
        var designer = host.Designer;
#>
using System.ComponentModel.DataAnnotations;
using Emes.Core.Dtos;

namespace Emes.Erp.I<#=designer.Module#>.Dtos.<#=designer.Codes#>
{
    /// <summary>
    /// 查询<#=designer.Name#>Dto
    /// 查询<#=designer.Desc#>Dto
    /// </summary>
    public class Query<#=designer.Code#>Dto: DtoBase
    {

    }
}

